/* Customize your main colors in :root variables */
:root {
  --main-background-color: #ececed;
  --card-background-color: None;
  --card-background-lighter-color: None;
  --main-text-color:#301d01;
  --title-text-color:#472b00;
  --button-text-color:#d98a00;
  --balance-text-color:#734006;
}

body{
  background-color:var(--main-background-color);
  background: url("img/tile-bb.png");
  /* background-size: cover; */
 
  font-family: 'Patrick Hand', cursive; 
  font-family: 'Sedgwick Ave Display', cursive;
  font-family: 'Comic Sans MS', cursive;
  /* font-family: 'Permanent Marker', cursive;
  font-family: 'Sedgwick Ave Display', cursive; */
  font-size: 1.1em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



